#TamEnvelope {
    font-size: 25px;
    width: 40px;
    height: 40px;
}

#TamChave {
    font-size: 25px;
}


#ImagemUsuario {
    text-justify: center;
    border-radius: 100%;


}



#CabecalhoBody {
    background-color: aliceblue;
    font-size: 12;
    width: 400px;

    margin-top: 200px;

    border-radius: 10%;


}






#HeaderId {
    border-radius: 40%;
    background-color: dodgerblue;
    margin-top: -30px;

}



/* 
#idcontainer {
    background-color: lightgreen !important;
    i
} */


/* .idBODY {
    background-color: 679966;
} */

.idBODY {
    background-color: rgb(183, 206, 218);
}

;
}
