#TamEnvelope {
    font-size: 25px;
    width: 40px;
    height: 40px;
}

#TamChave {
    font-size: 25px;
}


#ImagemUsuario {
    text-justify: center;
    border-radius: 100%;


}



#CabecalhoBody {
    background-color: aliceblue;
    font-size: 12;
    width: 400px;

    margin-top: 200px;


}






#HeaderId {
    border-top-style: solid;
    background-color: aliceblue;
    margin-top: -30px;

}



/* 
#idcontainer {
    background-color: lightgreen !important;
    i
} */


/* .idBODY {
    background-color: 679966;
} */

.idBODY {
    background-color: #CDD7BC;
}

#rowLogin {
    background-color: #CDD7BC;
    width: 600px;
    height: 100px;


}

.ExtratusLogin {
    /* width: 100px;
    height: 400px; */
    font-size: 50px;
    color: green;
}

.BioLogin {
    color: rgb(25, 61, 25);
}
